/* Global Styles */
:root {
  background-color: black;
  color: white;
  text-align: center;
  margin: auto;
}

a:link {
  color: yellow;
  text-decoration: none;
}

a:visited {
  color: yellow;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:active {
  color: darkblue;
  text-decoration: none;
}
.navbar {
  border: 0.2rem solid white;
}
.navbar span {
  border: 0.1rem solid white;
  padding-left: 1rem;
  padding-right: 1rem;
}
.signUpLogInBox {
  border: 0.2rem solid white;
}
